.App {
   display: flex; 
  padding: 5px;
  text-align: center;
}

.left-section{
  display: flex;
  justify-content: left;
  margin-top: 5px;
  align-items: center;
  width: 25%;
  border: 1px solid lightgray;
}
.icon{
  padding: 5px;
}
.note-add{
  width: 100%;
 display: flex;
padding: 5px;
}
.right-section{
  display: flex;
  width: 75%;
  border: 1px solid lightgray;
  margin-left: 5px;
  margin-top: 5px;
}
.top-line{
  margin: 10px;
  font-size: 20px;
}
input{
  border-radius: 5px;
  margin: 5px;
  display: flex;
}
.submit{
  display: flex;
  margin: 5px;
  border-radius: 5px;
}
textarea{
  border-radius: 5px;
  margin: 5px;
}
.modal.title{
  font-size: 20px;
}
.modal{
  background-color: lightgray;
  border: black 1px solid;
  border-radius: 10px;
 margin: 10px;
}
.preview{
  display: flex;
  justify-content: left;
  padding: 5px;  
}
.form-data{
  margin: 5px;
}
.write{
  padding: 5px;
  margin: 3px;
  border: 1px solid darkgray;
  border-radius: 5px;
}
.add-button{
  background-color:plum;
  border-radius: 5px;
  color: white;
  border: none;
margin: 7px;
 width: 35px;
 height: 35px;
}

.note-text{
  margin-left: 29px;
}
i{
  max-height: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
